<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <h:head>
        <title>Serpent</title>
    </h:head>
    <h:body>
        <h:form id="form0" style="margin: 0 auto; background-color: cornflowerblue;">
            <p:menubar style="width: 90%; margin: 0 auto;  border-width: 0px; background: cornflowerblue; padding: 0; border-color: cornflowerblue" 
                       styleClass="ui-noborder">
                <p:menuitem style="margin: 0 auto; background-color: cornflowerblue;">
                    <p:commandButton value="Просмотр и конфигурирование топлива" update=":form1"
                                     style="border: none;"  actionListener="#{firstBean.activateFistTab()}"/>
                </p:menuitem>
                <p:menuitem style="margin: 0 auto; background-color: cornflowerblue;">
                    <p:commandButton value="Управление начальными условиями" update=":form1"
                                     style="border: none;" />
                </p:menuitem>
                <p:menuitem style="margin: 0 auto; background-color: cornflowerblue;">
                    <p:commandButton value="Прочие настройки" update=":form1"
                                     style="border: none;" />
                </p:menuitem>
            </p:menubar>
        </h:form>
        <h:form id="form1" style="border: none;">
            <!-- работа с видами топлива -->
            <p:panelGrid id="up" style="margin: 0 auto;" >
                <p:row styleClass="ui-noborder">
                    <p:column styleClass="ui-noborder" >
                        <p:panelGrid id="up_panel" columns="1" styleClass="ui-noborder"
                                     rendered="#{firstBean.fuelAndNuclideTab}"><!--2--><!-- первый грид со списком и кнопками -->                
                            <p:commandButton id="pythonStartButton" value="Получить список видов топлива" 
                                             update=":form1" actionListener="#{firstBean.createFuelList()}" />
                            <h:outputLabel for="fuelList" value="Виды топлива:" rendered="#{firstBean.fuels.size()>0}"/>
                            <p:selectOneMenu  id="fuelList" title="Fuels" rendered="#{firstBean.fuels.size()>0}"
                                              value="#{firstBean.selectedFuel}" style="width:100px">
                                <p:ajax event="change" update=":form1" /> <!--:buttons-->
                                <f:selectItems value="#{firstBean.fuels}"/>
                            </p:selectOneMenu>
                            <h:outputText id="out" rendered="#{firstBean.selectedFuel.length()>0}"
                                          value="Выбранный вид топлива: #{firstBean.selectedFuel}" 
                                          style="display:block;  font-weight: bold;"/> 
                            <p:commandButton id="getNuclide" value="Просмотреть список нуклидов" 
                                             rendered="#{firstBean.selectedFuel.length()>0}"
                                             actionListener="#{firstBean.showNuclideList()}" 
                                             update=":form1"/>
                            <p:commandButton id="getAdensTable" value="Просмотреть состояние нуклидов" 
                                             rendered="#{firstBean.selectedFuel.length()>0}"
                                             actionListener="#{firstBean.loadAdensTable()}" 
                                             update=":form1:fragmentAdens"/>
                            <p:commandButton id="cleanTable" value="Очистить таблицу" update=":form1"
                                             actionListener="#{firstBean.cleanAdensTable()}"
                                             rendered="#{firstBean.tableAdens.size()>0}" />
                        </p:panelGrid> <!-- конец грида со списком и кнопками -->
                    </p:column>
                    <p:column  rendered="#{firstBean.nuclides.size()>0}">
                        <p:panelGrid id="nuclide_List" style="border: none;" styleClass="ui-noborder"><!-- показываем список нуклидов для выбранного топлива --> 
                            <p:row>
                                <p:column>
                                    <h:panelGrid id="nuclideGrid" columns="1" rendered="#{firstBean.nuclides.size()>0}">
                                        <p:outputLabel for="nuclideList" value="Нуклиды:" />
                                        <p:selectOneListbox id="nuclideList" value="#{firstBean.selectNuclide}" 
                                                            filter="true" filterMatchMode="contains" >
                                            <p:ajax process="@this" update=":form1" listener="#{firstBean.showConcentration}"/>
                                            <f:selectItems value="#{firstBean.nuclides}" />
                                        </p:selectOneListbox>
                                        <br></br>
                                        <p:commandButton id="cancelChoice" value="Отменить выбранное" 
                                                         rendered="#{firstBean.selectNuclide.length()>0}"
                                                         actionListener="#{firstBean.cancelChoice()}" update=":form1"/>
                                    </h:panelGrid> 
                                </p:column>
                                <p:column>
                                    <h:panelGrid id="with_dialog" columns="1">
                                        <p:panel id="dlg" header="Динамика концентрации" rendered="#{not empty firstBean.concentration}" 
                                                 toggleable="true" toggleOrientation="horizontal" style="border: 3px;" styleClass="ui-noborder" >
                                            <p:panelGrid columns="2" rendered="#{not empty firstBean.concentration}">
                                                <p:orderList value="#{firstBean.concentration}" var="conc" controlsLocation="none" 
                                                             itemLabel="#{conc}" itemValue="#{conc}" >
                                                </p:orderList>
                                            </p:panelGrid>
                                        </p:panel>
                                    </h:panelGrid>
                                </p:column>
                            </p:row>
                        </p:panelGrid>
                    </p:column>
                    <p:column  rendered="#{not empty firstBean.selectedRow}">
                        <p:panelGrid id="right" columns="1" styleClass="ui-noborder" rendered="#{not empty firstBean.selectedRow}"> <!-- панель графика-->
                            <p:panel id="panel_graphic" header="Динамика" toggleable="true" toggleOrientation="horizontal" 
                                     rendered="#{not empty firstBean.selectedRow}">
                                <h:panelGrid columns="1">
                                    <p:chart type="line" model="#{firstBean.animatedModel1}" style="width:640px;" />
                                </h:panelGrid>
                            </p:panel>
                        </p:panelGrid><!-- конец панели графика --><!--  -->
                    </p:column>
                </p:row>
            </p:panelGrid ><!-- работа с видами топлива -->



            <!-- полная таблица всех концентраций всех нуклидов -->
            <p:fragment id="fragmentAdens">
                <p:dataTable var="adensTableVar" id="tableAdens" paginator="true" value="#{firstBean.tableAdens}" 
                             rowsPerPageTemplate="5, 10, 15, 20, 25" selectionMode="single" selection="#{firstBean.selectedRow}" rowKey="#{adensTableVar.field2}"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {RowsPerPageDropdown} {NextPageLink} {LastPageLink}"
                             rows="10" style="margin-bottom:20px; font-size: small;"  rowIndexVar="index"
                             rendered="#{firstBean.tableAdens.size() > 0}" emptyMessage="Данные не найдены"
                             currentPageReportTemplate="(Найдено {totalRecords} из #{fn:length(firstBean.tableAdens)})"> 
                    <f:facet name="header">
                        Изменение концентрации по нуклидам для топлива  #{firstBean.selectedFuel} 
                        <p:toolbar>
                            <f:facet  name="left">
                                <p:selectOneMenu  label="Сделать начальным условием" id="cos" title="Сделать начальным условием"
                                                  value="#{firstBean.selectedCols}" style="width:125px">
                                    <p:ajax event="change" update=":form1" listener="#{firstBean.trueSetToCheckSelectedCols()}" />
                                    <f:selectItems value="#{firstBean.cols}"/>
                                </p:selectOneMenu>
                                <p:commandButton id="firstCondition" value="Сделать начальным условием" 
                                                 disabled="#{firstBean.checkSelectedCol}"
                                                 actionListener="#{firstBean.writeColumns()}" update=":form1"/>
                                <p:commandButton id="drawGraphic" value="Изобразить" 
                                                 actionListener="#{firstBean.drawGraphic()}" update=":form1"/>
                            </f:facet>
                            <f:facet name="right">
                                <p:commandButton id="toggler" type="button" value="Columns" style="float:right" />
                                <p:columnToggler datasource="tableAdens" trigger="toggler" />
                            </f:facet>
                        </p:toolbar>

                    </f:facet>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f1" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field1}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f2" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field2}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f3" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field3}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f4" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field4}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f5" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field5}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f6" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field6}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f7" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field7}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f8" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field8}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f9" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field9}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f10" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field10}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f11" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field11}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f12" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field12}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f13" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field13}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f14" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field14}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f15" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field15}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f16" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field16}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f17" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field17}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f18" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field18}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f19" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field19}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f20" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field20}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f21" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field21}" />
                    </p:column>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="f22" />
                        </f:facet>
                        <h:outputText value="#{adensTableVar.field22}" />
                    </p:column>
                    <f:facet name="footer">
                    </f:facet>
                </p:dataTable>
            </p:fragment>
        </h:form>
    </h:body>
</html>

