<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <h:head>
        <title>SerpentStartPage</title>
    </h:head>
    <h:body>
        
        
        <h:form id="form1">
            <p:panelGrid id="up" columns="3" style="margin: 0 auto;">
                <p:panelGrid id="firstColumn">
                    <p>blablaCar</p>
                </p:panelGrid>
                
                <p:panelGrid id="secondColumn">
                    <p:commandButton value="button" id="button1" />
                </p:panelGrid>
                
                <p:panelGrid id="thirdColumn">
                    <h:link value="mmmmmmmmmmmmm"/>
                </p:panelGrid>
            </p:panelGrid>
            
             
        </h:form>
    </h:body>
</html>
